body{
    margin: 0;
    padding: 0;
    background: url(../background_image.jpg) no-repeat center center/cover;
    height: 100vh;
    overflow: hidden;
    color: white;
    position: relative;
}
/* width */
::-webkit-scrollbar {
    width: 20px;
}
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
}
   
/* Handle */
::-webkit-scrollbar-thumb {
  background: wheat; 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 0.9); 
}
.master-container{
    background-color: rgba(0,0,0,0.4);
    width: 100vw;
    height: 100vh;
}
.tasks-list{
    position: absolute;
    top: 0;
    right: 0;
    height: 100vh;
    width: 21vw;
    background-color: rgba(0,0,0,0.5);
}
.tasks,.change-background, .change-setup, .just-greet, .stop-greet,.default-background{
    position: absolute;
    width: 13rem;
    height: 3rem;
    top: 2rem;
    right: 21vw;
    border-top-left-radius: 0.8rem;
    border-bottom-left-radius: 0.8rem;
    background-color: rgba(0,0,0,0.5);
    border: 3px solid #b2bec3;
    border-right: none;
    cursor: pointer;
    box-shadow: -0.3rem 0.3rem 0.8rem rgba(0,0,0,0.8);
}
.change-background, .change-setup, .just-greet, .stop-greet, .default-background{
    top: 2rem;
    left: 0; 
    border-radius: 0rem 0.8rem 0.8rem 0;
    border: 3px solid #b2bec3;
    border-left: none;
}
.change-setup{
    top: 7rem;
    z-index: 1;
}
.just-greet, .stop-greet{
    top: 12rem;
    z-index: 1;
}
.default-background{
    top: 17rem;
    z-index: 1;
}
.tasks:active, .change-background:active, .change-setup:active, .just-greet:active, .stop-greet:active,
.default-background:active{
    box-shadow: none;
}
.change-background span, .change-setup span, .just-greet span, .stop-greet span, .default-background span{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    margin-left: 0.5rem;
    font-size: 1.2rem;
}
.toggle-position{
    right: 0;
}
.material-icons{
    font-weight: 100;
    font-size: 1.8rem;
    margin: 0.6rem 0.5rem; 
}
.wrapper{
    display: inline;
}
.task-list{
    position: relative;
    overflow: auto;
    height: 80vh;
    z-index: 1000;
}
.label{
    margin-left: 1rem;
    font-size: 1.5rem;
}
.text{
    margin-left: 1rem;
    width: 15rem;
    height: 1.8rem;
    border-radius: 0.5rem;
    border: 1px solid transparent;
    font-size: 1.2rem;
    padding: 0.2rem 0.6rem;
}
.text:focus{
    border: 2px solid rgb(19, 54, 168);
    transition: border 0.5s;
    outline: none;
}
.add{
    position: relative;
    top: 5px;
    left: 6px;
    margin: 0;
    font-size: 2rem;
    color: white;
    cursor: pointer;
}
.del-icon{
    color: white;
    position: absolute;
    top: 3px;
    right: 0;
    cursor: pointer;
    pointer-events: auto;
    z-index: 100;
}
.add-task{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    margin-left: 0.5rem;
    font-size: 1.2rem;
}

.list{
    position: relative;
    margin: 2rem 1rem;
    font-size: 1.2rem;
    border: 2px solid white;
    padding: 1rem;
    border-radius: 0.5rem;
}
.container{
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%,-65%);
    height: 30vh;
    width: 100vw;
}

.greet, .time{
    text-align: center;
    font-size: 3.8rem;
    font-family: 'Quicksand', sans-serif;
    font-weight: 400;
    color: white;
}

.time{
    letter-spacing: 0.2rem;
    margin-bottom: 1.5rem;
    font-weight: 100;
    font-size: 5rem;
}
.display, .greet-me{
    display: flex;
    justify-content: center;
    align-items: center;
}
.setup, .setup-user-settings, .fav-pages{
    font-size: 1.2rem;
    margin: 1rem;
    background-color: rgba(0,0,0,0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5rem;
    width: 65%;
    border-radius: 0.3rem;
}
.fav-pages{
    margin-top: 4rem;
    display: inline-block;
    height: 22rem;
    width: 55rem;
    position: relative;
    background-color: rgba(0,0,0,0.5);
    border: 2px solid white;
    border-radius: 0.8rem;
}
.overflow{
    overflow-y: auto;
    overflow-x: hidden;
    height: 17.7rem;
    grid-column: 2;
    grid-row: 2;
}
#links{
    margin: 1rem;
    padding: 0.5rem;
    color: black;
    background: white;
    width: 5rem;
    border-radius: 0.3rem;
}
.form{
    margin: 2rem 1.5rem;
}
.form .btn{
    margin: 1rem;
}
.fav-site-url, .fav-site-title{
    box-sizing: border-box;
    height: 1.8rem;
    width: 15rem;
    margin: 1rem;
    border-radius: 0.3rem;
    font-size: 1rem; 
    outline: none;
    padding: 0.5rem;
}
.instruct{
    grid-column: 1;
    grid-row-start: 1;
    grid-row-end: 3;
    padding: 1rem;
    border-right: 2px solid white;
    font-size: 1.3rem;
    height: 20.1rem;
}
.flex-box{
    display: flex;
    align-items: center;
}
.box{
    display: grid;
    grid-template-columns: 4fr 6fr;
    grid-template-rows: 1fr 9fr;
}
.tiles a{
    text-decoration: none;
    color: inherit;
}
.tile{
    margin: 0 2rem;
    cursor: pointer;
    display: grid;
    grid-template-columns: 9fr 1fr;
}
.gif{
    background-color: transparent;
    position: absolute;
    top: -50%;
}
.user_data, .user_settings{
    box-sizing: border-box;
    height: 2rem;
    width: 15rem;
    margin: 1rem;
    border-radius: 0.3rem;
    font-size: 1.2rem; 
    outline: none;
    padding: 0.5rem;
}
.btn{
    margin: 0.5rem;
    width: 7rem;
    height: 2.2rem;
    border-radius: 0.5rem;
    border: 2px solid white;
    color: white;
    cursor: pointer;
    background: transparent;
    font-size: 1rem;
}
.btn:hover{
    color: black;
    background: wheat;
}
.loading-gif{
    height: 5rem;
    width: 5rem;
    margin: 2rem;
}
.hide{
    display: none;
}
